<div data-controller="popover">
  <h3 class="text-capitalize"><%= @title %></h3>
  <a href="/kits" data-action="mouseenter->popover#show mouseleave->popover#hide">Home</a>
  <template data-popover-target="content">
    <div data-popover-target="card">
      <p><%= @content_text %></p>
    </div>
  </template>
</div>