<h1 class="text-center">ViewComponent Kit</h1>
<div class="row">
  <div class="col-sm-6">
    <%= render(PopoverComponent.new(title: "Popover", content_text: "Content")) %>
  </div>
</div>
<h2>ViewComponet:</h2>
<code>
   render(PopoverComponent.new(title: "Popover", content_text: "Content"))
</code>